<h1>Welcome <%= current_user.first_name%></h1>

<%#= link_to 'Your account', current_user%>

<%#= link_to 'All Employees', users_path%>

<%#= link_to 'Products Catalog of Store', store_product_infos_path%>

<%#= link_to 'Shelves', shelves_path%>

<%#= link_to 'Administration', current_store%>

<%#= link_to 'log out', signout_path, :method => :delete%>
