
<h1>Transactions#index</h1>

<h1>Listing Transaction history</h1>

<table>
  <tr>
    <th>Transaction No.</th>

    <th></th>
  </tr>


<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.id %></td>

    <td><%= link_to 'Show', transaction %></td>
  </tr>
<% end %>
</table>

<%= link_to "next",transactions_path, :method => :post%>

<br />

