<h1>Current Transaction</h1>



	


<table>
  <tr>
    <th>Product</th>
    <td></td>
	<td></td>
    <th></th>
    <th>Price</th>
    <th></th>
  </tr>

<% current_transaction.product_list.each do |s|%>
  <tr>

    <td><%= product_name(s.product_id) %></td>
	<th></th>
    <td><%#= s.price %></td>
    <td><%#= link_to 'Show', stock %></td>
    <td><%#= link_to 'Edit', edit_stock_path(stock) %></td>
	<td><%#= link_to 'Change Stock Quantity', :action => 'quantity', :id => stock %></td>
    <td><%#= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>




<%= link_to " scan item ", transactions_scan_item_path, :method => :post%></br>



<%= link_to "complete transaction ", transactions_path, :method => :post%>